
<div class="row">

  <div class="col-12 col-sm-6">

    <ng-container *ngIf="!!reference.PreviewImage && !hasImgError">
      <img [src]="reference.PreviewImage + cropString" (error)="hasImgError = true" class="img-fluid">
    </ng-container>

    <ng-container *ngIf="!reference.PreviewImage || hasImgError">
      <div class="placeholder"></div>
    </ng-container>

  </div>

  <div class="col-12 col-sm-6">
    <div class="reference-text">
      <span><strong>{{reference.Title}}</strong></span>
      <br>
      <span [innerHTML]="(reference.Description | slice:0:40) + (reference.Description.length > 40 ? '...' : '')"></span>
    </div>
  </div>

</div>

<a [routerLink]="['/reference', reference.UrlPath]" class="mb-5 btn btn-primary float-right">
  Details
</a>

