
<div class="row">

  <div class="col-12 col-sm-6">
    <img [src]="reference.PreviewImage" class="img-fluid">
  </div>

  <div class="col-12 col-sm-6">
    <div class="reference-text">
      <span><strong>{{reference.Title}}</strong></span>
      <br>
      <span [innerHTML]="(reference.Description | slice:0:40) + (reference.Description.length > 40 ? '...' : '')"></span>
    </div>
  </div>

</div>

<a [routerLink]="['/reference', reference.UrlPath]" class="btn btn-primary float-right">
  Details
</a>
