
<div class="row">

  <ng-container *ngIf="!!reference">
    <div class="col-sm-12 col-md-6 order-2 order-sm-2 order-md-1">

      <ng-container *ngIf="!!reference?.Description">
        <span [innerHTML]="reference?.Description"></span>
      </ng-container>

      <table class="table table-striped">
        <tbody>

          <tr *ngIf="!!reference?.Services">
            <th scope="row">{{servicesLabel}}</th>
            <td>{{reference?.Services}}</td>
          </tr>

          <tr *ngIf="!!reference?.Links">
            <th scope="row">{{linksLabel}}</th>
            <td>
              <span [innerHTML]="reference?.Links"></span>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </ng-container>

  <ng-container *ngIf="(images$ | async)?.length > 0">
    <div class="col-sm-12 col-md-6 order-1 order-sm-1 order-md-2">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

          <ng-container *ngFor="let img of images$ | async; first as first">
            <div class="carousel-item" [ngClass]="{'active': first}">
              <img [src]="img.Url" class="d-block w-100">
            </div>
          </ng-container>

        </div>

        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!reference">
    <p>Keine Reference für dieses Auswahl gefunden</p>
  </ng-container>

</div>

<button class="btn btn-primary" [routerLink]="['/category', 'all']">{{btnBack}}</button>
