<div class="col-12 col-sm-6">

  <ng-container *ngIf="!!reference">
    <h1>{{reference?.Title}}</h1>

    <ng-container *ngIf="!!reference.Images && reference.Images.length > 0">

      <div id="carouselControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

          <ng-container *ngFor="let img of reference.Images; first as first">
            <div class="carousel-item" [ngClass]="{'active': first}">
              <img [src]="img" class="d-block w-100">
            </div>
          </ng-container>

        </div>

        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>


    </ng-container>

    <ng-container *ngIf="!!reference?.Description">
      <span [innerHTML]="reference?.Description"></span>
    </ng-container>

    <table class="table table-striped">
      <tbody>

        <tr *ngIf="!!reference?.Services">
          <th scope="row">Services</th>
          <td>{{reference?.Services}}</td>
        </tr>

        <tr *ngIf="!!reference?.Links">
          <th scope="row">Links</th>
          <td>
            <span [innerHTML]="reference?.Links"></span>
          </td>
        </tr>

      </tbody>
    </table>

  </ng-container>

  <ng-container *ngIf="!reference">
    <p>Keine Reference für dieses Auswahl gefunden</p>
  </ng-container>

  <button class="btn btn-primary" (click)="navigateBack()">Back to list</button>

</div>
