
<div *ngIf="!loading" @fadeInOut>
  <div class="row" *ngIf="!!reference" [sxc-toolbar]='{toolbar:{entityId:reference.Id}}'>
    <div class="col-sm-12 col-md-7">
      <h1>{{reference.Title}}</h1>
      <div *ngIf="!!reference?.Description" [innerHTML]="reference?.Description"></div>

      <div *ngIf="!!reference?.Services">
        <h3>{{servicesLabel}}</h3>
        <div [innerHTML]="reference?.Services"></div>
      </div>

      <div *ngIf="!!reference?.Links">
        <h3>{{linksLabel}}</h3>
        <div [innerHTML]="reference?.Links"></div>
      </div>

    </div>

    <div *ngIf="images$ | async as images" @fadeInOut class="ref-images col-sm-12 col-md-5">
      <div *ngIf="images.length > 0">
        
        <a href="{{images[0].Url}}" data-fancybox="gallery" class="first">
          <img [src]="images[0].Url + '?w=200&h=150&mode=crop'" class="d-block w-100">
        </a>

        <div class="ref-images-small">
          <a *ngFor="let img of images | slice:1" href="{{img.Url}}" data-fancybox="gallery" class="small">
            <img [src]="img.Url + '?w=100&h=100&mode=crop'" class="d-block w-100">
          </a>
        </div>

      </div>
    </div>

    <ng-container *ngIf="!reference">
      <p>Keine Reference für dieses Auswahl gefunden</p>
    </ng-container>

  </div>

  <button class="btn btn-primary" [routerLink]="['/category', 'all']">{{btnBack}}</button>
</div>
